{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set bodyClass = 'navigationbuilder nb-edit' %}
{% set pageSlug = craft.request.lastSegment %}

{% if pageSlug == 'edit' %}
  {% set page = 'Edit Navnode' %}
{% else %}
  {% set page = 'New Navnode' %}
{% endif %}

{% block pageHeader %}
  {% include 'navigationbuilder/partials/header' %}
  {{ parent() }}
  <div id="extra-headers"><div class="buttons right"><div class="btngroup"><a href="{{ url('navigationbuilder/navnode/new') }}" class="btn submit add icon"><span>{{ "Create New Navnode"|t }}</span></a></div></div></div>
{% endblock %}

{% block content %}
	
<section class="pane">

	{{ navnode.id }}
  <form method="post" accept-charset="UTF-8">
    <input type="hidden" name="action" value="navigationBuilder/navnode/saveNavnode">
    <input type="hidden" name="redirect" value="navigationbuilder/navnodes">

    {% if navnode.id %}<input type="hidden" name="novnodeId" value="{{ navnode.id }}">{% endif %}
		
		{{ forms.textField({
		  first: true,
		  label: "Navigation Name"|t,
		  instructions: "Give this navnode a name"|t,
		  id: 'name',
		  name: 'name',
		  value: navnode.name,
		  errors: navnode.getErrors('name'),
		  autofocus: true,
		  required: true,
		  size: 50,
		  translatable: true
		}) }}

		{{ forms.textField({
		  label: "Handle"|t,
		  instructions: "Navigation field handle name, must be unique"|t,
		  id: 'handle',
		  class: 'code',
		  name: 'handle',
		  value: navnode.handle,
		  size: 50,
		  errors: navnode.getErrors('handle'),
		  required: true
		}) }}

		{% includeCssResource "lib/redactor/redactor.css" %}
		{% includeJsResource "lib/redactor/redactor.js" %}
		{{ forms.textareaField({
		  label: "Description"|t,
		  instructions: "Short description about your navnode"|t,
		  id: 'description',
		  class: 'description',
		  name: 'description',
		  value: (navnode.description is defined ? navnode.description : null),
		  errors: navnode.getErrors('description'),
		  required: false
		}) }}

		{# Errors #}
		{%- set errors = (errors is defined ? errors : null) -%}
		{% if errors %}
		  {% include "_includes/forms/errorList" with { errors: errors } %}
		{% endif %}

		<div class="buttons">
		  <input type="submit" class="btn submit" value="{{ 'Save Navnode'|t }}">
		</div>

	</form>
</section>

{% set newFormJs %}
  {% if not navnode.handle %}new Craft.HandleGenerator('#name', '#handle');{% endif %}
  $('#description').redactor();
{% endset %}
{% includeJs newFormJs %}
{% endblock %}